body{
    background-image: url("https://github.com/LangKenney/CodeCampCode/blob/master/Bio%20Pictures/01560_harvestgrapes_1680x1050.jpg?raw=true");
}
h1 {
    color: white;
}
h2 {
    color: white;
}