i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 5em;
}

#header {
    background: #0000b3;
}

table tr td{
    border: 1px solid black;
    width: 100%;
}

body {
    margin-top: 2em;
}