<% include partials/header %>
<h1>This is the home page</h1>
<img src="https://github.com/LangKenney/CodeCampCode/blob/master/Bio%20Pictures/03994_bixbybridgehazydusk_1600x900.jpg?raw=true" />
<% include partials/footer %>