<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css">
<!--<img src="http://interfacelift.com/wallpaper/D44a94c2/01560_harvestgrapes_1680x1050.jpg">-->
<h1>Welcome the the locals guide to wine!</h1>
<h2>Here you will find the best wineries from people who live there</h2>

<h1><a href="/wineries">To the wine!</a></h1>

<% include ./partials/footer %>