<html>
    <head>
        <title>IRCPGS Component Library</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    </head>
    
    <body>
        <div class="ui fixed inverted menu" id="header">
            <div class="ui container">
                <div class="header item"><i class="rocket icon"></i></i>IRCPGS</div>
                <a href="/index" class="item">Home</a>
                <a href="/index/avionics" class="item">Avionics</a>
                <a href="/index/controls" class="item">Controls</a>
                <a href="/index/GSE" class="item">GSE</a>
                <a href="/index/initiation" class="item">Initiation</a>
                <a href="/index/propulsion" class="item">Propulsion</a>
                <a href="/index/power" class="item">Power</a>
                <a href="/index/RF" class="item">RF</a>
                <a href="/index/structures" class="item">Structures</a>
                <a href="/index/new" class="item">Add A New Component</a>
            </div>
        </div>
