<html>
    <head>
        <title>Locals Wine</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="cocktail icon"></i>Wine</div>
                <a href="/wineries" class="item">Home</a>
                <a href="/wineries/new" class="item">Add A New Winery</a>
            </div>
        </div>