<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui huge header">
        <h1>Add A new Component to the library!</h1>
    </div>
    
    <div class="ui top attached segment">
        <form class="ui form" action="/index" method="POST">

            <div class="field">
                <label>Component Name</label>
                <input type="text" name="component[name]" placeholder="Component Name">
            </div>
            
            <div class="field">
                <label>Work Break down number (WBS)</label>
                <input type="text" name="component[WBS]" placeholder="WBS Number">
            </div>
            
            <div class="field">
                <label>Image</label>
                <input type="text" name="component[image]" placeholder="Image">
            </div>
            
            <div class="field">
                <label>Domain</label>
                <select name="component[domain]">
                    <option value="avionics">Avionics</option>
                    <option value="controls">Controls</option>
                    <option value="GSE">GSE</option>
                    <option value="initiation">Initiation</option>
                    <option value="propulsion">Propulsion</option>
                    <option value="power">Power</option>
                    <option value="RF">RF</option>
                    <option value="structures ">Structures </option>
                </select>
            </div>
            
            <div class="field">
                <label>Responsible Engineer</label>
                <input type="text" name="component[responsibleEngineer]" placeholder="Responsible Engineer">
            </div>
            
            <div class="field">
                <label>Stage</label>
                <select name="component[stage]">
                    <option value="FS">First Stage (FS)</option>
                    <option value="IS">Inter Stage (IS)</option>
                    <option value="NF">Nose Fairing (NF)</option>
                    <option value="PA">Payload Adapter (PA)</option>
                    <option value="SS">Second Stage (SS)</option>
                </select>
            </div>
            
            <div  class="field">
                <label>Description</label>
                <textarea name="component[description]"></textarea>
            </div>
            
            <div class="field">
                <label>Quantity</label>
                <input type="number" name="component[quantity]" placeholder="Quantity">
            </div>

            <div class="field">
                <label>FTU</label>
                <input type="number" name="component[FTU]" placeholder="FTU">
            </div>
            
            <div class="field">
                <label>EDU</label>
                <input type="number" name="component[EDU]" placeholder="EDU">
            
            <div class="field">
                <label>GTU</label>
                <input type="number" name="component[GTU]" placeholder="GTU">
            </div>
            
            <div class="field">
                <label>MM_DM</label>
                <input type="number" name="component[MM_DM]" placeholder="MM_DM">
            </div>
            
            <div class="field">
                <label>Make Vs Buy</label>
                <select name="component[makeVsBuy]">
                    <option value="Make">Make</option>
                    <option value="Buy">Buy</option>
                </select>
            </div>

            <div class="field">
                <label>Weight</label>
                <input type="number" name="component[weight]" placeholder="Weight">
            </div>

            <div class="field">
                <label>Power</label>
                <input type="number" name="component[power]" placeholder="Power">
            </div>

            <div class="field">
                <label>Size</label>
                <input type="text" name="component[size]" placeholder="Size">
            </div>

            <div class="field">
                <label>Vendor</label>
                <input type="text" name="component[vendor]" placeholder="Vendor">
            </div>

            <div class="field">
                <label>Cost</label>
                <input type="number" name="component[cost]" placeholder="Cost">
            </div>
            
            <input class="ui blue big button" type="submit"  value="Submit New Component">
        </form>
    </div>
    
</div>
<% include ../partials/footer %>