<% include partials/header %>

<h1>You have reached an unknown page!</h1>
<img src='http://www.clker.com/cliparts/9/f/2/9/13322659681245439749Baby%20Cartoon%20Bear.svg'>

<% include partials/footer %>